/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-qvi-qvi-quran-verse-inserter {
	border: 1px dotted rgba(7, 201, 49, 0.37);
	padding:  12px 20px 12px 20px;
	background-color: rgb(173 165 165 / 6%);
}
