/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@font-face {
	font-family: "Alqalam";
	src: url("./Assets/fonts/alqalam-webfont.woff2") format("woff2"),
		url("./Assets/fonts/alqalam-webfont.woff") format("woff");
}

.wp-block-qvi-qvi-quran-verse-inserter {
	background-color: rgb(173 165 165 / 6%);
	padding: 12px 20px 12px 20px;
}
